/*body {*/
  /*background-color: silver;*/
}


/*.jumbotron {*/
/*	background-image: url("../images/bg4.jpg");
	height: 60%;
}
.jumbotron h1 {
	color:yellow;
	font-family: 'Bungee Shade', cursive;
}
#gameDisplayPlayer1 {
  background-color: ivory;
  border: 2px solid blue;
}

#gameDisplayPlayer2 {
  background-color: ivory;
  border: 2px solid blue;
}

h1 {
  color: red;
font-style: italic;
}

*/